---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  chartRef:
    kind: OCIRepository
    name: cert-manager
    namespace: flux-system
  interval: 30m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    crds:
      enabled: true
    dns01RecursiveNameservers: "1.1.1.1:53,1.0.0.1:53"
    dns01RecursiveNameserversOnly: false
    enableCertificateOwnerRef: true
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
