---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unpoller
  namespace: unpoller
spec:
  chartRef:
    kind: OCIRepository
    name: unpoller
    namespace: flux-system
  interval: 30m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                UP_UNIFI_DEFAULT_URL: "https://${UNIFI_HOST}"
                UP_UNIFI_DEFAULT_API_KEY: "${UNIFI_API_KEY}"
