---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mend-renovate
  namespace: mend-renovate
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.24.52
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    image:
      repository: ghcr.io/mend/renovate-ce
      pullPolicy: IfNotPresent
      tag: 12.1.0@sha256:d1fd348363894355708f7f8d0c9250f3210f2dbe110719f64c639ef6e5239caf

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                # Accept TOS required
                MEND_RNV_ACCEPT_TOS: "Y"
                # unregistered public license key
                MEND_RNV_LICENSE_KEY: eyJsaW1pdCI6IjEwIn0=.30440220457941b71ea8eb345c729031718b692169f0ce2cf020095fd328812f4d7d5bc1022022648d1a29e71d486f89f27bdc8754dfd6df0ddda64a23155000a61a105da2a1
                MEND_RNV_PLATFORM: github
                # See https://github.com/mend/renovate-ce-ee/blob/main/docs/setup-for-github.md
                MEND_RNV_GITHUB_APP_ID: "${MEND_RNV_GITHUB_APP_ID}"
                MEND_RNV_GITHUB_APP_KEY: "${MEND_RNV_GITHUB_APP_KEY}"
                MEND_RNV_WEBHOOK_SECRET: "${MEND_RNV_WEBHOOK_SECRET}"
                MEND_RNV_SERVER_PORT: "{{ .Values.service.main.ports.main.port }}"
                MEND_RNV_AUTODISCOVER_FILTER: "maverickd650/home-ops"
                MEND_RNV_DATA_HANDLER_TYPE: postgresql
                PGDATABASE: "{{ .Values.cnpg.main.database }}"
                PGUSER: "{{ .Values.cnpg.main.user }}"
                PGPASSWORD: "{{ .Values.cnpg.main.creds.password }}"
                PGHOST: "{{ .Values.cnpg.main.creds.host }}"
                PGPORT: "5432"
                LOG_LEVEL: debug
    ingress:
      main:
        enabled: true
        ingressClassName: "traefik"
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.tls: 'true'
          traefik.ingress.kubernetes.io/router.middlewares: traefik-chain-basic@kubernetescrd
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: renovate.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    service:
      main:
        ports:
          main:
            port: 80
            protocol: tcp
    securityContext:
      container:
        readOnlyRootFilesystem: false
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
    cnpg:
      main:
        enabled: true
        user: renovate
        database: renovate
        cluster:
          singleNode: true
        backups:
          enabled: false

    gatus:
      endpoints:
        - name: mend-renovate
          group: Infrastructure
          url: "http://mend-renovate.mend-renovate.svc.cluster.local:80"
          interval: 1m
          ui:
            hide-url: true
            hide-hostname: true
          conditions:
            - "[CONNECTED] == true"
          alerts:
            - type: discord
              description: "healthcheck failed"
              send-on-resolved: true
    configmap:
      gatus:
        enabled: true
        labels:
          gatus.io/enabled: "true"
        data:
          config.yaml: |
            {{- $.Values.gatus | toYaml | nindent 2 }}
