# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubelet-csr-approver
  namespace: kube-system
spec:
  chartRef:
    kind: OCIRepository
    name: kubelet-csr-approver
    namespace: flux-system
  interval: 30m
  values:
    workload:
      main:
        enabled: true
        replicas: 1
