---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
  namespace: openebs
spec:
  chartRef:
    kind: OCIRepository
    name: openebs
    namespace: flux-system
  interval: 30m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    preUpgradeHook:
      enabled: false
    openebs-crds:
      csi:
        volumeSnapshots:
          enabled: false
          keep: false

    engines:
      local:
        # The lvm-localpv backend contains a duplicate of snapshot controller which will cause conflicts
        lvm:
          enabled: false
        # The ZFS backend contains a duplicate of snapshot controller which will cause conflicts
        zfs:
          enabled: false
      replicated:
        # The Mayastor backend contains a duplicate of snapshot controller which will cause conflicts
        mayastor:
          enabled: false

    loki:
      enabled: false
    alloy:
      enabled: false
