---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
  namespace: volsync
spec:
  chartRef:
    kind: OCIRepository
    name: volsync
    namespace: flux-system
  interval: 30m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    workload:
      main:
        podSpec:
          containers:
            kube-rbac-proxy:
              args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --proxy-endpoints-port=8888
                - "--tls-min-version=VersionTLS12"
                - --v=0
                - --ignore-paths=/metrics
    metrics:
      main:
        enabled: true
        type: servicemonitor
        endpoints:
          - port: metrics
            path: /metrics
            scheme: https
            tlsConfig:
              insecureSkipVerify: true
        targetSelector: metrics
